<!doctype html>
<html lang="en" ng-app="videoApp">
<head>
    <meta charset="UTF-8">
    <title>Project angularjs - video library</title>
    
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/firebase/firebase.js"></script>
    <script type="text/javascript" src="bower_components/angularfire/dist/angularfire.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="js/videoLibrary.js"></script>
    
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body ng-controller="imageCtrl">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <p class="navbar-brand" href="#">Dynamic Image Gallery</p>
        </div>
      </div>
      <div class="container-fluid" style="border-top-color: #2f71a9; border-top-style: solid; border-top-width: 1px;">
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a ui-sref="home">Home</a></li>
            <li ng-repeat="category in categories"><a ng-click="setActiveCategory(category)" ui-sref="category">{{category.name}}</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div ui-view></div>
</body>
</html>